.logcont{
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.logo1{
    color: teal;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;
}
.inputs{
    margin: 20px;
}
.l-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: teal;
}
.error{
    color: red;
    font-size: 12px;
}
.cancel1{
    position:absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}