*{
    font-family: 'Roboto', sans-serif;
}
.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
label{
    width: max-content;
    color: tomato;
    font-size: 14px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;
    font-weight: 900;
}
.desc{
    font-size: 14px;
}
.star{
    color: gold ;
}
form{
    width:250px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
input::placeholder,textarea::placeholder{
    font-size: 12px;
    color: rgb(206, 202, 202);

}
.btn{
    border: none;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.logout{
    background-color: tomato;
}
.login{
    background-color: teal;
    margin-right: 10px;
}
.register{
    background-color: slateblue;
}
.buttons,.logout{
    position: absolute;
    top: 10px;
    right: 10px;
}